.ad-designer {
    margin: 20px;
    text-align: center;
}
  
.ad {
    border: 2px solid;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.light-theme {
    border-color: #222;
    color: #000;
    background-color: #fff;
}
  
.dark-theme {
    border-color: #fff;
    color: #fff;
    background-color: #222;
}
  
.controls button {
    margin: 5px;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
}
  
.controls button:disabled {
    background-color: gray;
}