.header {
    background-color: #0e3c7e;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
  .header h1 {
    font-family: 'Caveat', cursive;
    margin: 0;
}