.container {
    height: 80%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    height: 33%;
    width: 50%;
    border: 1px solid black;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

@media only screen and (min-width: 768px) {
    .container > div {
        height: 30px;
        width: 30px;
    }
}